-# HAML (HTML Abstraction Markup Language) is a templating language used in Ruby applications to simplify writing HTML.
-# It eliminates the need for explicit closing tags and uses indentation to structure code.
%html
  %head
    %title Hello, World Example
  %body
    %h1 Hello, World!