@* ASP.NET Razor is a server-side markup syntax used to create dynamic web pages in ASP.NET applications. *@

<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>
</head>
<body>
    <h1>Hello, World!</h1>
</body>
</html>